.navbar{
    background-color: #FF0067;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a{
    color:#936223;

}

.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a.active{
    color: #FFF;
}



